parameters:
    level: 8
    paths:
        - src

    excludePaths:
        - vendor
        - tests

    bootstrapFiles:
        - phpstan-bootstrap.php

    scanDirectories:
        - vendor/squizlabs/php_codesniffer/src

    # Report all errors
    reportUnmatchedIgnoredErrors: true
    checkMissingCallableSignature: true

    # Additional checks
    treatPhpDocTypesAsCertain: false
